* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5d6063;
  background-color: #eaedf0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.flight-list-header,
.flight-list-table {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 5px;

  width: 80%;
  margin: 20px 20px 5px 20px; 
  padding: 50px;
}

.flight-list-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.flight-list-header button {
  padding: 20px 90px;
  font-size: 16px;
  color: #5d6063;
}

.flight-list-header button:hover {
  cursor: pointer;
}

.flight-list-table {
  border-collapse: collapse;
  border-radius: 5px;
  
}

.flight-list-table thead tr {
  background-color: #009879;
  color: #ffffff;
}

.flight-list-table th,
.flight-list-table td {
  padding: 10px;
  margin: 10px;
}

.flight-list-table tbody tr:nth-of-type(even) {
  background-color: #ebebeb;
}
