* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
  background-color: #eaedf0;
}

.page {
  width: 900px;
  margin: 0 auto;
}

.menu {
  height: 100px;
  background-color: #b2d6ff; /* Medium blue */
}

.sidebar {
  float: left;
  width: 200px;
  height: 300px;
  background-color: #f09a9d; /* Red */
}

.content {
  float: left;
  width: 650px;
  height: 500px;
  background-color: #f5cf8e; /* Yellow */
}

.footer {
  background-color: #d6e9fe; /* Light blue */
  overflow: hidden;
}

.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;    /* Medium blue */
}