:root {
  --primary-blue: #d6e9fe;
  --secondary-blue: #5995da;
  --primary-grey: #5d6063;
  --secondary-grey: #eaedf0;
  --font-color-google: #fff;
  --background-color-google: #202124;
  --border-color-google: #5f6368;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-blue);
  color: var(--font-color-google);
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.3;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-color-google);

  width: 100%;
  padding: 25px;
}

.box-container {
  background-color: var(--primary-blue);
  height: 795px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  
  margin: 300px;
}

.box {
  display: flex;
  justify-content: center;
 
  background-color: var(--secondary-blue);
  border: 1px solid var(--border-color-google);
  border-radius: 5px;

  width: 300px;
  padding: 50px;
  margin: 30px 0;
}

.box:hover {
  background-color: red;
  cursor: pointer;
}

.footer {
  position: fixed;
  border-top: 1px solid var(--border-color-google);
  bottom: 0;
  left: 0;
  
  width: 100%;
  padding: 25px;
}

/* 
.boxes {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid var(--border-color-google);
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 */
