:root {
  --primary-blue: #d6e9fe;
  --secondary-blue: #5995da;
  --primary-grey: #5d6063;
  --secondary-grey: #eaedf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-grey);
  background-color: var(--secondary-blue);
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.3;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wraper {
  background-color: var(--primary-blue);
  text-align: center;
  border-radius: 3px;

  width: 40%;
  padding: 30px;
  margin: 50px auto;
}

button {
  padding: 15px;
  margin: 20px 20px 0 20px;
}

button:hover {
  cursor: pointer;
}

